# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Archive -- Compiler
tools/compiler/*
tools/build/*
obj/*
tools/toolbuilder/archive/*
tools/toolbuilder/binutils*
tools/toolbuilder/gcc*
tools/toolbuilder/gdb*
tools/toolbuilder/gmp*
tools/toolbuilder/isl*
tools/toolbuilder/mpc*
tools/toolbuilder/mpfr*

# Internal Stuff Not Required for source
internal/*

# Solution User Options (although keep solution for opening)
subra/.vs/*
*.opendb

